@font-face {
    font-family: "cerealBold";
    src: url('./assets/Fonts/Airbnb_Cereal-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "cerealBook";
    src: url('./assets/Fonts/Airbnb_Cereal-Book.woff2') format('woff2');
}
@font-face {
    font-family: "cerealMedium";
    src: url('./assets/Fonts/Airbnb_Cereal-Medium.woff2') format('woff2');
}
body {
    max-width: 750px;
    min-width: 400px;
    position: absolute;
}
header {
    background: white;
    padding: 10px 20px;
    padding-bottom: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-top: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    max-width: 750px;
    z-index: 100;
}
.headerSearchBar {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 30px;
    margin: 10px 0;
    position: relative;
    max-width: 750px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.searchBarIcon{
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;  
   color: black;
   border: none;
   padding: 10px;  
   border-radius: 50%;
   font-size: 18px;
   margin-right: 10px;
}
.searchBarText{
    display: flex;
    flex-direction: column;
}
.searchBarTextUpper {
    font-family: cerealMedium;
    font-size: 14px;
}
.searchBarTextLower {
    font-family: cerealBook;
    font-size: 12px;
    color: grey;
}
.separator {
    margin: 3px;
}
.categoriesBar{
    display: flex; 
    overflow-x: auto;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 750px;
    margin-top: 20px;
    margin-bottom: 7px;
}
.categorySection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    opacity: 0.64;
}
.categorySection img{
    width: 24px;
    height: 24px;
}
.categoryText{
    font-family: cerealBold;
    font-size: 12px;
    margin: 5px;
}
.categorySection.selected {
    opacity: 1;
}
.scrollBarMarker{
    border-bottom: 2px solid black;
    bottom: 0;
    width: 30px;
    margin-left: 5px;
}
main{
    background: white;
    margin-top: 150px;
    padding: 10px;
    padding-bottom: 0;
    max-width: 750px;
    min-width: 400px;
}
.listing{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.listingContainer {
    position: relative; 
    flex: 1 1 calc(50% - 20px);
}
.listingContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 14px;
} 
.liveOverlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
    border: none;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 14px;
    opacity: .8;
    font-family: cerealBook;
}
.listingText {
    display: flex;
    flex-direction: column;
}
.listingName{
    font-family: cerealMedium;
    font-size: 15px;
}
.listingHost{
    font-family: cerealBook;
    font-size: 15px;
    color: grey;
}
.listingStatus{
    font-family: cerealBook;
    font-size: 15px;
}
.listingStatusBold{
    font-family: cerealMedium;
    font-size: 15px;
}
.shareButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: black;
    border: none;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
    font-size: 14px;
    opacity: .8;
}
.fiveDotOverlay{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.dot {
    background: white;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
.opaque{
    opacity: 1;
}
.transparent {
    opacity: 0.5;
}
.dotMedium {
    height: 5px;
    width: 5px;
}
.dotSmall {
    height: 4px;
    width: 4px;
}
.pastExperiences{
    padding-bottom: 100px;
    background: red;
}
h1{
    font-family: cerealBook;
    color: rgb(47, 47, 47);
}
