@font-face {
    font-family: "cerealBold";
    src: url('./assets/Fonts/Airbnb_Cereal-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "cerealBook";
    src: url('./assets/Fonts/Airbnb_Cereal-Book.woff2') format('woff2');
}
@font-face {
    font-family: "cerealMedium";
    src: url('./assets/Fonts/Airbnb_Cereal-Medium.woff2') format('woff2');
}
body {
    max-width: 750px;
    min-width: 400px;
    margin: 0 auto;
    padding: 10px;
}
header {
    background: white;
    padding: 10px 20px;
    padding-bottom: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-top: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    max-width: 750px;
}